.filters {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 40px;
  margin-bottom: 60px;

  @media (max-width: 1399px) {
    gap: 20px;
  }
}

.filter-tab {
  display: flex;
  align-items: center;
  gap: 12px;

  @media (min-width: 992px) {
    margin-right: auto;
  }

  @media (max-width: 991px) {
    flex: 0 0 100%;
  }

  & > .tab {
    flex-grow: 1;
  }
}

.filter-select {
  display: flex;
  align-items: center;
  gap: 12px;

  @media (max-width: 991px) {
    flex: 1 0 calc(50% - 10px);
  }

  &__title {
    color: #424551;
    font-size: 16px;
    line-height: 1.6;
    font-weight: 700;
  }

  &__text {
    color: #787A80;
    font-size: 14px;
    line-height: 1.5;
  }
}

.filter-grid {
  display: flex;
  align-items: center;
  gap: 10px;

  &__item {
    color: #424551;
    font-size: 20px;

    &.active {
      color: $primary;
    }
  }
}

.filter-search {
  flex-basis: 315px;

  @media (max-width: 991px) {
    flex: 0 0 100%;
    order: 2;
  }

  & input[type=text] {
    font-size: 14px;
  }
}