.form-subscribe {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 12px 24px;

  @media (max-width: 575px) {
    flex-direction: column;
    align-items: stretch;
  }
}

.form-newsletter {
  position: relative;

  &__btn {
    position: absolute;
    top: 50%;
    right: 14px;
    transform: translateY(-50%);
  }
}

.form-sing {
  &__block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px 20px;

    @media (max-width: 575px) {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__input ~ &__input,
  &__block {
    margin-top: 20px;

    @media (max-width: 991px) {
      margin-top: 15px;
    }
  }

  &__btn {
    width: 100%;
    margin-top: 24px;

    @media (max-width: 991px) {
      margin-top: 12px;
    }
  }

  & a {
    color: $primary;

    &:hover {
      color: darken($primary, 0.15);
    }
  }
}

.form-search {
  position: relative;

  &__btn {
    position: absolute;
    top: 50%;
    right: 16px;
    transform: translateY(-50%);
  }
}