.quotation {
  position: relative;
  padding-left: 58px;

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 28px;
    height: 20px;
    background-image: url('/img/icons/braces.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    content: '';
  }
}