.tab {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 9px 10px;
  color: #9A9CA5;
  font-size: 16px;
  line-height: 26px;
  font-weight: 700;
  border-radius: $radius;
  transition: 0.3s color ease;
  border: 1px solid transparent;

  @media (max-width: 767px) {
    padding: 8px 12px;
    font-size: 14px;
  }

  &:hover {
    color: $primary;
  }

  &.active {
    color: $primary;
    border: 1px solid $primary;
  }

  & > sup {
    margin-left: -5px;
  }
}