.tag {
  display: flex;
  padding: 4.5px 15px;
  color: #787A80;
  font-size: 14px;
  line-height: 1.5;
  line-height: 21px;
  font-weight: 700;
  white-space: nowrap;
  border-radius: $radius;
  transition: 0.3s ease;
  transition-property: background-color, border-color;
  border: 1px solid #D7DADD;

  @media (max-width: 767px) {
    padding: 3.5px 12px;
  }

  &:hover {
    color: $white;
    background-color: $primary;
    border-color: $primary;
  }
}