.author-preview {
  display: grid;
  grid-template-columns: 100px 1fr;
  gap: 20px;

  @media (max-width: 575px) {
    gap: 12px;
  }

  @media (max-width: 359px) {
    grid-template-columns: 80px 1fr;
  }

  &__image {
    aspect-ratio: 1 / 1;
    border-radius: $radius;
    overflow: hidden;
  }

  &__img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.3s transform ease;
    transform: scale(1.001);
  }

  &__image:hover &__img {
    transform: scale(1.05);
  }

  &__name {
    margin-bottom: 4px;

    @media (max-width: 991px) {
      margin-bottom: 3px;
    }
  }

  &__socials {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-top: 18px;

    @media (max-width: 991px) {
      gap: 8px;
      margin-top: 10px;
    }
  }

  &__social {
    font-size: 20px;
    color: #787A80;
  }
}