mixin author-preview(index)
  .author-preview
    a(href="#").author-preview__image
      img(src="/img/author.jpg", alt="").author-preview__img
    .author-preview__content
      .title-bold.author-preview__name
        a(href="#") Kristin Watson
      .text-small.author-preview__prof Curator of Marketing Course
      .author-preview__socials
        a(href="#").author-preview__social
          span.icon-instagram 
        a(href="#").author-preview__social
          span.icon-twitter 
        a(href="#").author-preview__social
          span.icon-linkedin 