.section-event {
  padding: 50px 0;
  background: linear-gradient(55.95deg, rgba(#FF3F3A, 0.2) 0%, rgba(#F75E05, 0.2) 100%);

  @media (max-width: 991px) {
    padding: 40px 0;
  }

  &__subtitle,
  &__title {
    text-align: center;
  }

  &__subtitle {
    text-transform: uppercase;
  }

  &__events {
    margin-top: 60px;

    @media (max-width: 991px) {
      margin-top: 30px;
    }
  }

  &__footer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px 40px;
    margin-top: 80px;

    @media (max-width: 991px) {
      margin-top: 30px;
    }

    @media (max-width: 575px) {
      flex-direction: column;
    }
  }
}