.section-feature {
  padding: 50px 0;

  @media (max-width: 991px) {
    padding: 40px 0;
  }

  &__header {
    margin-bottom: 60px;

    @media (max-width: 991px) {
      text-align: center;
      margin-bottom: 30px;
    }

    @media (min-width: 992px) {
      display: grid;
      grid-template-columns: 1fr auto;
      align-items: flex-end;
      gap: 8px 40px;
    }
  }

  &__more {
    @media (max-width: 991px) {
      margin-top: 15px;
    }

    @media (min-width: 992px) {
      grid-row: 1 / 3;
      grid-column: 2 / 3;
    }
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    margin-top: 60px;

    @media (max-width: 991px) {
      grid-template-columns: 1fr;
      margin-top: 30px;
    }

    @media (max-width: 575px) {
      display: flex;
      scroll-snap-type: x mandatory;
      overflow: auto;

      & > * {
        flex: 0 0 100%;
        scroll-snap-align: center;
      }
    }
  }
}

.card-feature {
  display: grid;
  grid-template-columns: 214px 1fr;
  background-color: $white;
  border: 1px solid #E5E8ED;
  border-radius: $radius;
  box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.08), 0px 30px 24px -10px rgba(154, 156, 165, 0.05), 0px 12px 10px -6px rgba(154, 156, 165, 0.04), 0px 4px 4px -4px rgba(30, 33, 44, 0.03);


  @media (max-width: 1199px) {
    grid-template-columns: 180px 1fr;
  }

  @media (max-width: 767px) {
    grid-template-columns: 150px 1fr;
  }

  @media (max-width: 575px) {
    grid-template-columns: 1fr;
  }

  &__image {
    margin: -1px;
    border-radius: $radius 0 0 $radius;
    overflow: hidden;
    
    @media (max-width: 991px) {
      border-radius: $radius $radius 0 0;
    }
  }

  &__img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    // position: absolute;
    // top: 0;
    // left: 0;
    // bottom: 0;
    // width: 214px;
  }

  &__content {
    padding: 32px;

    @media (max-width: 1199px) {
      padding: 24px;
    }

    @media (max-width: 991px) {
      padding: 16px;
    }
  }

  &__prof {
    padding: 1px 5px;
    margin-bottom: 20px;
    width: max-content;
    font-size: 14px;
    line-height: 1.5;
    background: #03CEA4;
    border-radius: $radius;
    color: $white;

    @media (max-width: 991px) {
      margin-bottom: 12px;
    }
  }

  &__title {
    margin-bottom: 20px;
    font-size: 20px;
    line-height: 1.5;
    font-weight: 700;

    @media (max-width: 991px) {
      font-size: 18px;
      margin-bottom: 12px;
    }
  }

  &__info {
    display: flex;
    align-items: center;
    gap: 16px;
  }

  &__price {
    color: #FF4242;
    font-size: 18px;
    line-height: 1.5;
    font-weight: 700;

    @media (max-width: 991px) {
      font-size: 16px;
    }
  }

  &__author {
    position: relative;
    color: #787A80;
    font-size: 18px;
    line-height: 1.5;

    @media (max-width: 991px) {
      font-size: 16px;
    }

    &::before {
      position: absolute;
      top: 50%;
      left: -11px;
      transform: translateY(-50%);
      content: '|';
    }
  }
}