.section-first {
  padding: 180px 0 50px;

  background: linear-gradient(55.95deg, rgba(#FF3F3A, 0.2) 0%, rgba(#F75E05, 0.2) 100%);

  @media (max-width: 1399px) {
    padding: 150px 0 50px;
  }

  @media (max-width: 991px) {
    padding: 120px 0 40px;
  }

  &__wrap {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 40px 180px;

    @media (max-width: 1399px) {
      gap: 40px 60px;
    }

    @media (max-width: 991px) {
      grid-template-columns: 1fr;
    }
  }

  &__img {
    @media (max-width: 991px) {
      max-width: 400px;
      margin: 0 auto;
    }
  }

  &__btns {
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
    margin-top: 60px;

    @media (max-width: 1199px) {
      margin-top: 45px;
    }

    @media (max-width: 991px) {
      gap: 15px;
      margin-top: 30px;
    }
  }
}