.section-how {
  padding: 50px 0;

  @media (max-width: 991px) {
    padding: 40px 0;
  }

  &__wrap {
    display: grid;
    grid-template-columns: 3fr 2fr;
    gap: 40px 130px;

    @media (max-width: 991px) {
      grid-template-columns: 1fr;
    }
  }

  &__subtitle {
    margin-bottom: 8px;

    @media (max-width: 991px) {
      margin-bottom: 6px;
    }
  }

  &__title {
    margin-bottom: 40px;

    @media (max-width: 991px) {
      margin-bottom: 25px;
    }
  }

  &__title,
  &__subtitle {
    text-align: center;
  }

  &__btn {
    margin-top: 48px;

    @media (max-width: 991px) {
      margin-bottom: 30px;
    }
  }
}

.tabs {
  display: grid;
  grid-template-columns: repeat(4, 1fr);

  @media (max-width: 991px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (max-width: 450px) {
    grid-template-columns: 1fr;
  }

  & > a {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    padding: 10px 20px;
    color: #9A9CA5;
    font-size: 16px;
    line-height: 1.6;
    font-weight: 700;
    border-radius: $radius;
    transition: 0.3s color ease;
    border: 1px solid transparent;

    @media (max-width: 767px) {
      padding: 8px 12px;
      font-size: 14px;
    }

    &:hover {
      color: $primary;
    }

    &.active {
      color: $primary;
      border: 1px solid $primary;
    }
  }
}

.tab {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 135px;
  margin-top: 60px;

  @media (max-width: 1199px) {
    gap: 30px 80px;
  }

  @media (max-width: 991px) {
    grid-template-columns: 1fr;
    margin-top: 30px;
  }

  &__title {
    margin-bottom: 24px;

    @media (max-width: 991px) {
      margin-bottom: 16px;
    }
  }
}