.section-how {
  margin: 180px 0 120px;

  @media (max-width: 991px) {
    margin: 90px 0 60px;
  }

  &__title,
  &__subtitle {
    text-align: center;
  }

  &__tabs {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;

    @media (max-width: 991px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: 400px) {
      grid-template-columns: 1fr;
    }
  }

  &__tab {
    margin-top: 60px;

    @media (max-width: 991px) {
      margin-top: 30px;
    }
  }
}

.tab-content {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  gap: 135px;

  @media (max-width: 1399px) {
    grid-template-columns: repeat(2, 1fr);
    gap: 30px 80px;
  }

  @media (max-width: 991px) {
    grid-template-columns: 1fr;
  }

  &__title {
    margin-bottom: 24px;

    @media (max-width: 991px) {
      margin-bottom: 16px;
    }
  }

  &__img {
    display: block;
  }
}