.section-team {
  padding: 166px 0 100px;
  background: #F4F5F7;

  @media (max-width: 991px) {
    padding: 40px 0;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
  }
}