.section-testimonials {
  padding: 90px 0;
  background: #F4F5F7;

  @media (max-width: 991px) {
    padding: 50px 0;
  }

  &__wrap {
    position: relative;
  }

  &__title,
  &__subtitle {
    text-align: center;
  }

  &__subtitle {
    margin-bottom: 8px;

    @media (max-width: 991px) {
      margin-bottom: 6px;
    }
  }

  &__title {
    margin-bottom: 60px;

    @media (max-width: 991px) {
      margin-bottom: 30px;
    }
  }

  &__slider {
    position: relative;
    display: flex;
    gap: 300px;
    padding: 0 150px;
    overflow: auto;
    // scrollbar-width: none;
    scroll-snap-type: x mandatory;

    @media (max-width: 1199px) {
      gap: 160px;
      padding: 0 80px;
    }

    @media (max-width: 767px) {
      gap: 100px;
      padding: 0 50px;
    }

    @media (max-width: 575px) {
      padding: 0;
    }

    & > * {
      width: 100%;
      flex-shrink: 0;
      scroll-snap-align: center;
    }
  }
}

.testimonial {
  padding: 64px 105px;
  background: $white;

  @media (max-width: 991px) {
    padding: 32px 50px;
  }

  @media (max-width: 575px) {
    padding: 25px 30px;
  }

  &__author {
    display: inline-grid;
    align-content: flex-start;
    grid-template-columns: repeat(2, auto);
    gap: 4px 20px;
    margin-top: 24px;

    @media (max-width: 991px) {
      margin-top: 12px;
    }
  }

  &__img {
    grid-row: span 2;
  }

  &__name {
    font-size: 16px;
    line-height: 1.6;
    font-weight: 700;
  }
}

.slider-navigation {
  &__prev,
  &__next {
    position: absolute;
    top: 50%;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    transform: translateY(-50%);
    font-size: 20px;
    transition: 0.3s ease;
    transition-property: background-color, color;
    border-radius: 50%;
    cursor: pointer;

    &:hover {
      background-color: $primary;
      color: $white;
    }

    @media (max-width: 991px) {
      width: 36px;
      height: 36px;
      font-size: 16px;
    }

    @media (max-width: 575px) {
      display: none;
    }
  }

  &__next {
    left: auto;
    right: 0;
  }
}

.slider-pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin-top: 60px;

  @media (max-width: 991px) {
    margin-top: 30px;
  }

  &__item {
    width: 30px;
    height: 2px;
    background-color: #B3B7BC;
    border-radius: 2px;
    cursor: pointer;
    transition: 0.3s background-color ease;
    border: 2px solid transparent;

    &.active,
    &:hover {
      background-color: #424551;
    }
  }
}