.section-why {
  margin: 180px 0;

  @media (max-width: 1199px) {
    margin: 120px 0;
  }

  @media (max-width: 991px) {
    margin: 90px 0;
  }

  &__wrap {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 40px 135px;

    @media (max-width: 1399px) {
      grid-template-columns: repeat(2, 1fr);
      align-items: center;
      gap: 40px 80px;
    }

    @media (max-width: 991px) {
      grid-template-columns: 1fr;
    }
  }

  &__img {
    display: block;
  }

  &__title {
    margin-bottom: 40px;

    @media (max-width: 991px) {
      margin-bottom: 25px;
    }
  }

  &__btn {
    margin-top: 48px;

    @media (max-width: 991px) {
      margin-top: 30px;
    }
  }
}