.course-horizontal {
  display: grid;
  grid-template-columns: 212px 1fr;
  grid-template-rows: 212px;
  background-color: $white;
  border: 1px solid #E5E8ED;
  border-radius: $radius;
  box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.08), 0px 30px 24px -10px rgba(154, 156, 165, 0.05), 0px 12px 10px -6px rgba(154, 156, 165, 0.04), 0px 4px 4px -4px rgba(30, 33, 44, 0.03);


  @media (max-width: 1199px) {
    grid-template-columns: 178px 1fr;
    grid-template-rows: 178px;
  }

  @media (max-width: 767px) {
    grid-template-columns: 148px 1fr;
    grid-template-rows: 148px;
  }

  @media (max-width: 575px) {
    grid-template-columns: 1fr;
  }

  &__image {
    margin: -1px;
    border-radius: $radius 0 0 $radius;
    overflow: hidden;
    background-color: $secondary;
    
    @media (max-width: 991px) {
      border-radius: $radius $radius 0 0;
    }

    @media (max-width: 575px) {
      max-height: 350px;
    }
  }

  &__img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
    transform: scale(1.01);
    transition: 0.3s transform ease;
  }

  &__image:hover &__img {
    transform: scale(1.05);
  }

  &__content {
    padding: 32px;

    @media (max-width: 1399px) {
      padding: 24px;
    }

    @media (max-width: 991px) {
      padding: 16px;
    }
  }

  &__prof {
    padding: 1px 5px;
    margin-bottom: 20px;
    width: max-content;
    font-size: 14px;
    line-height: 1.5;
    background: #03CEA4;
    border-radius: $radius;
    color: $white;

    @media (max-width: 991px) {
      margin-bottom: 12px;
    }
  }

  &__title {
    margin-bottom: 20px;
    font-size: 20px;
    line-height: 1.5;
    font-weight: 700;

    @media (max-width: 991px) {
      font-size: 18px;
      margin-bottom: 12px;
    }
  }

  &__info {
    display: flex;
    align-items: center;
    gap: 16px;
  }

  &__price {
    color: #FF4242;
    font-size: 18px;
    line-height: 1.5;
    font-weight: 700;

    @media (max-width: 991px) {
      font-size: 16px;
    }
  }

  &__author {
    position: relative;
    color: #787A80;
    font-size: 18px;
    line-height: 1.5;

    @media (max-width: 991px) {
      font-size: 16px;
    }

    &::before {
      position: absolute;
      top: 50%;
      left: -11px;
      transform: translateY(-50%);
      content: '|';
    }
  }
}

.course-vertical {
  background-color: $white;
  border: 1px solid #E5E8ED;
  border-radius: $radius;
  box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.08), 0px 30px 24px -10px rgba(154, 156, 165, 0.05), 0px 12px 10px -6px rgba(154, 156, 165, 0.04), 0px 4px 4px -4px rgba(30, 33, 44, 0.03);

  &__image {
    display: block;
    overflow: hidden;
    margin: -1px -1px -1px;
    border-radius: $radius $radius 0 0;
    background: $secondary;
  }

  &__img {
    display: block;
    width: 100%;
    transform: scale(1.01);
    transition: 0.3s transform ease;
    
    @media (max-width: 991px) {
      max-width: 315px;
      margin: 0 auto;
    }
  }

  &__image:hover &__img {
    transform: scale(1.05);
  }

  &__content {
    padding: 24px;

    @media (max-width: 911px) {
      padding: 16px;
    }
  }

  &__category {
    padding: 1px 5px;
    margin-bottom: 20px;
    width: max-content;
    font-size: 14px;
    line-height: 1.5;
    background: #03CEA4;
    border-radius: $radius;
    color: $white;

    @media (max-width: 991px) {
      margin-bottom: 12px;
      font-size: 12px;
    }
  }

  &__badge {
    padding: 1px 8px;
    margin-bottom: 20px;
    width: max-content;
    font-size: 16px;
    line-height: 1.6;
    line-height: 26px;
    font-weight: 700;
    background: #03CEA4;
    border-radius: $radius;
    color: $white;

    @media (max-width: 991px) {
      margin-bottom: 12px;
      font-size: 14px;
    }
  }

  &__title {
    margin-bottom: 20px;
    font-size: 20px;
    line-height: 1.5;
    font-weight: 700;

    @media (max-width: 991px) {
      margin-bottom: 12px;
      font-size: 18px;
    }
  }

  &__info {
    display: flex;
    align-items: center;
    gap: 16px;
  }

  &__price {
    color: #FF4242;
    font-size: 18px;
    line-height: 1.5;
    font-weight: 700;
  }

  &__author {
    position: relative;
    color: #787A80;
    font-size: 18px;
    line-height: 1.5;

    &::before {
      position: absolute;
      top: 50%;
      left: -11px;
      transform: translateY(-50%);
      content: '|';
    }
  }

  &__check {
    display: inline-flex;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
    font-size: 16px;
    line-height: 1.6;
    line-height: 26px;
    font-weight: 700;

    @media (max-width: 991px) {
      margin-top: 12px;
    }

    & [class^="icon-"],
    & [class*=" icon-"] {
      color: $primary;
      transition: 0.3s transform ease;
    }

    &:hover [class^="icon-"],
    &:hover [class*=" icon-"] {
      transform: translateX(5px);
    }
  }
}

.course-soon {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 70px;
  background: #F4F5F7;
  border-radius: $radius;
  text-align: center;
}