.card-event {
  display: grid;
  grid-template-columns: 57px 100px 1fr auto;
  align-items: flex-start;
  gap: 4px 20px;
  padding: 32px 40px;
  background: $white;
  border-radius: $radius;

  &__day {
    align-self: center;
    grid-row: span 2;
    color: $primary;
    font-size: 48px;
    line-height: 1.3;
    font-weight: 900;
  }

  &__title,
  &__month {
    color: #1E212C;
    font-size: 20px;
    line-height: 1.5;
    font-weight: 700;
  }

  &__text,
  &__time {
    color: #787A80;
    font-size: 16px;
    line-height: 1.6; 
  }

  &__more {
    grid-row: span 2;
  }
}