extends ../layout/main

block variables
  - barba = 'blog'
  - headerLink = 'Blog'

block content
  section.section-blog
    .container
      h4.title-h6.section-blog__subtitle Our blog
      h1.title-h2.section-blog__title Createx School Journal

      .filters
        .filter-tab
          a(href="#").tab.active
            | All
          a(href="#").tab
            span.icon-files
            | Articles
          a(href="#").tab
            span.icon-play
            | Videos
          a(href="#").tab
            span.icon-mic
            | Podcasts

        .filter-select
          .filter-select__title Blog category
          select.filter-select__select
            option all themes 
            option Marketing 
            option Development 
            option Design
            option HR & Recruting
        
        form.form-search.filter-search
          input(type="text", placeholder="Search blog...")
          button(type="submit").form-search__btn
            span.icon-search.gray-600

      .section-blog__posts
        each item in [1, 2, 3, 4, 5, 6, 7, 8]
          +card-post(item)

      +pagination
  
  include ../section/newsletter