extends ../layout/main

block variables
  - barba = 'blog'

block content
  section.section-blog
    .container
      h4.title-h6.section-blog__subtitle Our blog
      h1.title-h2.section-blog__title Createx School Journal

      .section-blog__filters
        .tabs
          a(href="#") All
          a(href="#") Articles
          a(href="#") Videos
          a(href="#") Podcasts

        select
          option all themes 
          option Marketing 
          option Development 
          option Design
          option HR & Recruting
        
        .section-blog__search
          input(type="text", placeholder="Search blog...")

      .section-blog__posts
        each item in [1, 2, 3, 4, 5, 6, 7, 8]
          +card-post(item)

      +pagination
  
  include ../section/newsletter