extends ../layout/main

block variables
  - barba = 'contacts'
  - headerLink = 'Contacts'

block content
  section.section-map
    .container
      .section-map__wrap
        .section-map__content
          h4.title-h6.section-map__subtitle Contact info
          h2.title-h2.section-map__title Get in touch
          .map-social
            span.icon-chat.map-social__icon
            h5.map-social__title Talk to us:
            a(href="#").map-social__link hello@createx.com
          .map-social
            span.icon-iphone.map-social__icon
            h5.map-social__title Call us:
            a(href="#").map-social__link (405) 555-0128
          .map-social
            span.icon-pin.map-social__icon
            h5.map-social__title Address:
            a(href="#").map-social__link 2464 Royal Ln. Mesa, New Jersey 45463, USA
          .map-follow
            h5.map-follow__title Follow us:
            .map-follow__list
              a(href="#").map-follow__link
                span.icon-facebook 
              a(href="#").map-follow__link
                span.icon-twitter 
              a(href="#").map-follow__link
                span.icon-youtube 
              a(href="#").map-follow__link
                span.icon-telegram 
              a(href="#").map-follow__link
                span.icon-instagram 
              a(href="#").map-follow__link
                span.icon-linkedin
        .section-map__image
          img(src="/img/map.jpg", alt="").section-map__img
        

  section.section-question
    .container
      .section-question__wrap
        .section-question__image
          img(src="/img/question-img.svg", alt="").section-question__img
        .section-question__content
          h4.title-h6.section-question__subtitle Any questions?
          h1.title-h2.section-question__title Drop us a line

          form(novalidate).form-question
            label.label-input
              h5.label-input__title First Name*
              input(type="text", placeholder="Your first name", name="first")  
            label.label-input
              h5.label-input__title Last Name*
              input(type="text", placeholder="Your last name", name="last")  
            label.label-input
              h5.label-input__title Email*
              input(type="email", placeholder="Your working email", name="email")  
            label.label-input
              h5.label-input__title Phone
              input(type="text", placeholder="Your phone number", name="phone")  
            label.label-input.form-question__textarea
              h5.label-input__title Message*
              textarea(placeholder="Your message", name="message")
            label.label-checkbox
              input(type="checkbox", name="agree")
              h5 I agree to receive communications from Createx Online School
            button(type="submit").btn-main Send message