extends ../layout/main

block content
  section.section-courses
    .container
      h4.title-h6.section-courses__subtitle Enjoy your studying!
      h1.title-h2.section-courses__title Enjoy your studying!

      
      .filters
        .tabs.filter-tab
          a(href="#").active
            | All
          a(href="#")
            span.icon-files
            | Articles
          a(href="#") 
            span.icon-play
            | Videos
          a(href="#")
            span.icon-mic
            | Podcasts

        .filter-select
          .filter-select__title Blog category
          select.filter-select__select
            option all themes 
            option Marketing 
            option Development 
            option Design
            option HR & Recruting
        
        form.form-search.filter-search
          input(type="text", placeholder="Search blog...")
          button(type="submit").form-search__btn
            span.icon-search.gray-600

      .section-courses__courses
        each course in [1, 2, 3, 4, 5, 6, 7, 8, 9]
          .course
            a(href="/single-course.html").course__image
              img(src=`/img/course/item-${course}.jpg`, alt="").course__img
            .course__content
              h5.course__category HR & Recruting
              h4.course__title
                a(href="/single-course.html") The Ultimate Google Ads Training Course
              .course__info
                p.course__price $100
                p.course__author by Jerome Bell

      a(href="#").section-courses__more
        span.icon-convert
        | Load more 
  
  include ../section/testimonials
  include ../section/certificate
  include ../section/subscribe