extends ../layout/main

block content
  section.section-courses
    .container
      h4.title-h6.section-courses__subtitle Enjoy your studying!
      h1.title-h2.section-courses__title Enjoy your studying!
      .section-courses__courses
        each course in [1, 2, 3, 4, 5, 6, 7, 8, 9]
          .course
            a(href="/single-course.html").course__image
              img(src=`/img/course/item-${course}.jpg`, alt="").course__img
            .course__content
              h5.course__category HR & Recruting
              h4.course__title
                a(href="/single-course.html") The Ultimate Google Ads Training Course
              .course__info
                p.course__price $100
                p.course__author by Jerome Bell

      a(href="#").section-courses__more
        span.icon-convert
        | Load more 
  
  include ../section/testimonials
  include ../section/certificate
  include ../section/subscribe