extends ../layout/main

block variables
  - barba = 'events'

block content
  section.section-events
    .container
      h4.title-h6.section-events__subtitle Our blog
      h1.title-h2.section-events__title Createx School Journal

      .filters
        .filter-select
          .filter-select__title Event category
          select.filter-select__select
            option all themes 
            option Marketing 
            option Development 
            option Design
            option HR & Recruting

        .filter-select
          .filter-select__title Sort by
          select.filter-select__select
            option newest
            option old
        
        .filter-select
          .filter-select__title Show
          select.select-count.filter-select__select
            option 6
            option(selected) 9
            option 12
          .filter-select__text events per page
        
        form.form-search.filter-search
          input(type="text", placeholder="Search blog...")
          button(type="submit").form-search__btn
            span.icon-search

        .filter-grid
          a(href="/events.html").icon-list.filter-grid__item
          a(href="/events-card.html").icon-grid.filter-grid__item.active

      .section-events__grid
        each item in [1, 2, 3, 4, 5, 6, 7, 8, 9]
          +event-card(item)
      
      +pagination

  include ../section/subscribe