extends ../layout/main

block content
  section.section-first
    .container
      .section-first__wrap
        .section-first__content
          h1.title-h1 Enjoy studying with Createx Online Courses
          .section-first__btns
            button.btn-secondary About us
            button.btn-main Explore courses
          
        .section-first__img
          img(src="/img/first-img.svg", alt="")

      ul.section-first__list
        li
          span 1200
          p Students graduated
        li
          span 84
          p Completed courses
        li
          span 16
          p Qualified tutors
        li
          span 5
          p Years of experience

  section.section-why
    .container
      .section-why__wrap
        .section-first__img
          img(src="/img/why-img.jpg", alt="")
          
        .section-why__content
          h4.title-h6.section-why__subtitle Who we are
          h2.title-h2.section-why__title Why Createx?
          ul.list-main
            li A fermentum in morbi pretium aliquam adipiscing donec tempus.
            li Vulputate placerat amet pulvinar lorem nisl.
            li Consequat feugiat habitant gravida quisque elit bibendum id adipiscing sed.
            li Etiam duis lobortis in fames ultrices commodo nibh.
            li Tincidunt sagittis neque sem ac eget.
            li Ultricies amet justo et eget quisque purus vulputate dapibus tortor.
          button.btn-main.section-why__btn More about us

  section.section-feature
    .container
      h4.title-h6.section-feature__subtitle Ready to learn?
      h3.title-h2.section-feature__title Featured Courses
      a(href="#").btn-secondary.section-feature__more View all courses 
      .section-feature__list
        .card-feature
          img(src="/img/feature/item-1.jpg", alt="").card-feature__img
          h5.card-feature__prof Marketing
          h4.card-feature__title The Ultimate Google Ads Training Course
          .card-feature__info
            p.card-feature__price $100
            p.card-feature__author by Jerome Bell

        .card-feature
          img(src="/img/feature/item-2.jpg", alt="").card-feature__img
          h5(style="background: #5A87FC").card-feature__prof Management
          h4.card-feature__title Prduct Management Fundamentals
          .card-feature__info
            p.card-feature__price $480
            p.card-feature__author by Marvin McKinney

        .card-feature
          img(src="/img/feature/item-3.jpg", alt="").card-feature__img
          h5(style="background: #F89828").card-feature__prof HR & Recruting
          h4.card-feature__title HR  Management and Analytics
          .card-feature__info
            p.card-feature__price $200
            p.card-feature__author by Leslie Alexander Li

        .card-feature
          img(src="/img/feature/item-4.jpg", alt="").card-feature__img
          h5.card-feature__prof Marketing
          h4.card-feature__title Brand Management & PR Communications
          .card-feature__info
            p.card-feature__price $530
            p.card-feature__author by Kristin Watson
    
  section.section-how
    .container
      h4.title-h6 Our benefits
      h2.title-h2 That’s how we do it

      .tabs
        a(href="#").tabs__item Experienced Tutors 
        a(href="#").tabs__item Feedback & Support 
        a(href="#").tabs__item 24/7 Online Library 
        a(href="#").tabs__item Community

  // section.section-team
    .container
      h4.title-h6.section-team__title Best tutors are all here
      h2.title-h2.section-team__title Meet our team

      .section-team__team
        each person in [1, 2, 3, 4]
      

  include ../section/last-posts
  
  section.section-event
    .container
      h4.title-h6.section-event__subtitle Our Events
      h2.title-h2.section-event__title Lectures & workshops

      .section-event__events
        each item in [1, 2, 3]
          +card-event(item)

      .section-event__bottom
        h5.title-h3 Do you want more?
        a(href="#").btn-main Explore all events

  include ../section/certificate

  section.section-team
    .container
      h4.title-h6.section-team__subtitle Best tutors are all here
      h2.title-h2.section-team__title Meet our team

      .section-team__team
        each person in [1, 2, 3, 4]
          +person(person)
  
  include ../section/testimonials
  
  include ../section/subscribe