extends ../layout/main

block content
  section.section-first
    .container
      .section-first__wrap
        .section-first__content
          .play-showreel.section-first__play
            .play-showreel__btn
              span.icon-play
            p.play-showreel__text Play showreel
          h1.title-h1 Enjoy studying with Createx Online Courses
          .section-first__btns
            button.btn-secondary About us
            button.btn-main Explore courses
          
        .section-first__image
          img(src="/img/first-img.svg", alt="").section-first__img

      .first-list
        .first-list__item
          span.first-list__value 1200
          p.first-list__text Students graduated
        .first-list__dot
        .first-list__item
          span.first-list__value 84
          p.first-list__text Completed courses
        .first-list__dot
        .first-list__item
          span.first-list__value 16
          p.first-list__text Qualified tutors
        .first-list__dot
        .first-list__item
          span.first-list__value 5
          p.first-list__text Years of experience

  section.section-why
    .container
      .section-why__wrap
        .section-why__image
          img(src="/img/why-img.jpg", alt="").section-why__img
          
        .section-why__content
          h4.title-h6.section__subtitle Who we are
          h2.title-h2.section-why__title Why Createx?
          ul.list-main
            li A fermentum in morbi pretium aliquam adipiscing donec tempus.
            li Vulputate placerat amet pulvinar lorem nisl.
            li Consequat feugiat habitant gravida quisque elit bibendum id adipiscing sed.
            li Etiam duis lobortis in fames ultrices commodo nibh.
            li Tincidunt sagittis neque sem ac eget.
            li Ultricies amet justo et eget quisque purus vulputate dapibus tortor.
          button.btn-main.btn-small.section-why__btn More about us

  section.section-feature
    .container
      .section__header
        h4.title-h6.section__subtitle Ready to learn?
        h3.title-h2.section__title Featured Courses
        a(href="/courses.html").btn-secondary.section__right View all courses 
      .section-feature__list
        each course in [...courses.slice(0, 4), courses[5], courses[4]]
          +course-horizontal(course)
        //- each course in [1, 2, 3, 4, 5, 6]
        //-   +course-horizontal(course)
    
  section.section-how
    .container
      h4.title-h6.section__subtitle Our benefits
      h2.title-h2.section__title That’s how we do it

      .section-how__tabs
        a(href="#").tab.active
          span.icon-star
          | Experienced Tutors
        a(href="#").tab
          span.icon-like
          | Feedback & Support 
        a(href="#").tab
          span.icon-layouts
          | 24/7 Online Library 
        a(href="#").tab
          span.icon-chat
          | Community
      
      .tab-content.section-how__content
        .tab-content__content
          h2.title-h3.tab-content__title Only practicing tutors
          p.text-main.gray-800.tab-content__text Urna nisi, arcu cras nunc. Aenean quam est lobortis mi non fames dictum suspendisse. Morbi mauris cras massa ut dolor quis sociis mollis augue. Nunc, sodales tortor sit diam mi amet massa. Fermentum diam diam sociis vestibulum. Nulla nisl accumsan, id dignissim massa ut amet. Amet enim, nisi tempus vehicula.
        .tab-content__image
          img(src="/img/how-item-1.svg", alt="").tab-content__img
      
  section.section-event
    .container
      h4.title-h6.section__subtitle Our Events
      h2.title-h2.section__title Lectures & workshops

      .section-event__events
        each event in events.slice(0, 3)
          +event-list(event)

      .section-event__footer
        h5.title-h4 Do you want more?
        a(href="#").btn-main Explore all events

  include ../section/certificate-2

  section.section-team
    .container
      //- .section-team__header
      h4.title-h6.section__subtitle Best tutors are all here
      h2.title-h2.section__title Meet our team
      //- a(href="/courses.html").btn-secondary.section-feature__more View all courses 
      //- .slider
      //-   .slider-navigation__prev
      //-     span.icon-arrow-left
      //-   .slider-navigation__next
      //-     span.icon-arrow-right

      .section-team__team.slider.slider-4
        .slider__wrap
          each person in team
            +person(person)

        .slider-navigation__prev
          span.icon-arrow-left
        .slider-navigation__next
          span.icon-arrow-right
        
  
  include ../section/testimonials
  include ../section/last-posts
  
  include ../section/subscribe