extends ../layout/main

block variables
  - barba = 'single-post'
  - headerLink = 'Blog'

block content
  .single
    .container
      .single__wrap
        .single__content
          .single-category
            span.icon-files
            | Article |
            a(href="#").single-category__link HR & Recruting 
          h1.title-h2.single__title HR statistics: job search,  interviews, hiring and recruiting
          .single-info
            .single-info__date
              span.icon-calendar
              | August 3, 2020
            .single-info__time
              span.icon-clock
              | 4 min read
            +single-share
          img(src="/img/post/item-4.jpg", alt="").single__img
          h3.title-bold Vulputate vitae pellentesque scelerisque luctus consequat mattis pellentesque dui odio. Interdum aenean sit malesuada ornare sed gravida rhoncus, congue. Purus auctor nullam diam quis est hendrerit ac euismod. 
          p At facilisi sapien posuere eget nunc senectus proin nullam. Tortor senectus in et sagittis, vitae diam cras dignissim. Varius adipiscing eget diam nisi. Orci, consectetur vulputate metus ornare pharetra, neque, fermentum. Vel nec rhoncus, non nunc, neque in massa. Feugiat leo nam nisl lacinia amet, odio. Mi varius viverra risus vel.
          p Amet, morbi sed pharetra, elit eget mi potenti. Condimentum orci interdum feugiat lectus libero duis. Nisl massa, elementum varius sit. Nunc felis, porttitor aliquam urna, accumsan et sed. Aliquet non sed duis diam vehicula rhoncus. In dictum nullam tincidunt semper pellentesque purus morbi sed. Ut aliquet velit pharetra, nisi nunc, non.
          blockquote.title-bold Lorem ipsum dolor sit amet, consectetur adipiscing elit. Justo, amet lectus quam viverra mus lobortis fermentum amet, eu. Pulvinar eu sed purus  facilisi. Vitae id turpis tempus ornare turpis quis non. Congue tortor in tot euismod vulputate etiam eros. Vel accumsan at elit neque, ipsum.
          p Mauris amet arcu nisl vel dictum tellus. Sed rhoncus, ut sed id ut erat mattis. Vitae mus blandit in neque amet non fringilla blandit:
          ul
            li A fermentum in morbi pretium aliquam adipiscing donec tempus.
            li Vulputate placerat amet pulvinar lorem nisl.
            li Consequat feugiat habitant gravida quisque elit bibendum id adipiscing sed.
            li Etiam duis lobortis in fames ultrices commodo nibh.
          p Enim, vel massa odio diam. Blandit massa gravida feugiat elementum id nec sed leo. Nisi in ornare lectus eget. Urna, risus, consectetur volutpat lorem purus. Velit aliquet nibh vitae maecenas. Consectetur neque ut aliquam eros, purus enim dignissim aenean vitae. Ultrices fames augue mattis tortor est justo, pharetra nibh risus. Facilisi at porttitor volutpat natoque proin amet, nulla. Vivamus ut lobortis sagittis curabitur tellus convallis eget netus vitae.
          .single__bottom
            .single-tag
              .single-tag__text Tags:
              a(href="#").tag #learning
              a(href="#").tag #HR
              a(href="#").tag #self-development
            +single-share

        aside.aside
          form(novalidate).form-search.aside__form
            input(type="text", name="search", placeholder="Search blog...").input-small
            button(type="submit").form-search__btn
              span.icon-search
          h4.title-h6.aside__title Author
          +author-preview
          h4.title-h6.aside__title Trending Articles
          each article in [blog[0], blog[6], blog[4]]
            +article-preview(article)
          h4.title-h6.aside__title Tags
          .aside__tags
            a(href="#").tag #marketing
            a(href="#").tag #recruiting
            a(href="#").tag #coding
            a(href="#").tag #learning
            a(href="#").tag #HR
            a(href="#").tag #self-development

  include ../section/newsletter

  .single-blog
    .container
      .section__header
        h4.title-h6.section__subtitle Our blog
        h2.title-h2.section__subtitle You may also like

      .single-blog__posts.slider-3
        each post in blog
          +post(post)

      .section__footer
        h5.title-h4 Do you want more articles, podcasts and videos?
        a(href="#").btn-main Go to blog