extends ../layout/main

block content
  .section-head
    .container
      h3.title-h6.section-head__subtitle Online lecture
      h1.title-h2.section-head__title Formation of the organizational structure of the company in the face of uncertainty
  
  .course-about
    .container
      .course-about__wrap
        .course-about__content
          h2.title-h2.course-about__title About the course
          p.text-main.course-about__text Bibendum vulputate adipiscing venenatis at est, a eu tincidunt. Leo aenean congue in sagittis, felis maecenas amet varius at. Pellentesque euismod in faucibus at elementum. Tellus maecenas libero est tempus sit cras at malesuada diam. Consequat senectus dictumst non hac dignissim montes, pretium, egestas molestie. Sed magna aliquet ornare nibh vel lectus diam eget pretium. Lorem risus nunc tincidunt tortor, mi nulla pellentesque
          h3.title-h3.course-about__subtitle You will learn:
          ul.list-main.course-about__list
            li A fermentum in morbi pretium aliquam adipiscing donec tempus.
            li Vulputate placerat amet pulvinar lorem nisl.
            li Consequat feugiat habitant gravida quisque elit bibendum id adipiscing sed.
            li Etiam duis lobortis in fames ultrices commodo nibh.
            li Fringilla in nec risus congue venenatis pretium posuere nec.
            li Cursus eu pretium, vulputate tempus quam massa sed at.
        .course-info
          .course-info__item
            h5.course-info__subtitle Dates
            h4.course-info__title Sept 7 – Nov 2
            p.gray-700.course-info__text Metus turpis sit lorem lacus, in elit tellus lacus.
          .course-info__item
            h5.course-info__subtitle Price
            h4.course-info__title 2 months – 8 lessons
            p.gray-700.course-info__text Rhoncus pellentesque auctor auctor orci vulputate faucibus quis ut.
          .course-info__item
            h5.course-info__subtitle Price
            h4.course-info__title $120 per month
            p.gray-700.course-info__text Nulla sem adipiscing adipiscing felis fringilla. Adipiscing mauris quam ac elit tristique dis.
          a(href="#").btn-main.course-info__btn Join the course 
  
  section.course-curator
    .container
      .course-curator__wrap
        .course-curator__image
          img(src="/img/curator.png", alt="").course-curator__img
        .course-curator__content
          h4.title-h6.course-curator__title Course curator
          h3.title-h2.course-curator__name Cody Fisher
          h5.course-curator__prof Senior UX designer in IT Product Company
          ul.course-curator__list
            li.course-curator__item
              span.icon-star
              | 4.9 rate
            li.course-curator__item
              span.icon-play
              | 4 courses
            li.course-curator__item
              span.icon-profile
              | 350 students
          p.text-main.course-curator__text Mattis adipiscing aliquam eu proin metus a iaculis faucibus. Tempus curabitur venenatis, vulputate venenatis fermentum ante. Nisl, amet id semper semper quis commodo, consequat. Massa rhoncus sit morbi odio. Sit maecenas nibh consectetur vel diam. Sem vulputate molestie laoreet at massa sed pharetra. Ac commodo platea id habitasse proin. Nullam sit nec ipsum posuere non. Nam vel aliquam tristique sollicitudin interdum quam.
          .course-curator__socials
            a(href="#").course-curator__social
              span.icon-facebook
            a(href="#").course-curator__social
              span.icon-behance
            a(href="#").course-curator__social
              span.icon-twitter
            a(href="#").course-curator__social
              span.icon-linkedin
  
  .event-join
    .container
      .event-join__wrap
        h3.title-h3.event-join__title 20% discount for early birds!

        .timer
          .timer__item
            .timer__value 06
            .timer__property Days
          .timer__item
            .timer__value 18
            .timer__property Hours
          .timer__item
            .timer__value 24
            .timer__property Mins
          .timer__item
            .timer__value 12
            .timer__property Sec

        form(novalidate).event-join__form
          label.label-input
            h5.label-input__title Full name
            input(type="text", placeholder="Your full name", name="name") 
          label.label-input
            h5.label-input__title Email
            input(type="email", placeholder="Your working email", name="email") 
          label.label-input
            h5.label-input__title Phone
            input(type="tel", placeholder="Your phone number", name="phone")
          button(type="submit").btn-main Join the course
  
  section.course-whom
    .container
      .course-whom__wrap
        .course-whom__content
          h4.title-h6.course-whom__subtitle For whom?
          h2.title-h2.course-whom__title Who will benefit from the course:
        .course-whom__list
          ul.list-main
            li.title-h4 Specialists with more than 1 year of active work experience
            li.title-h4 Mobile app designers who want to improve their skills in solving business problems, creating and testing human-centered interfaces
            li.title-h4 Professional designers who want to feel more confident in UX
            li.title-h4 Specialists who would like to structure their knowledge, fill in the gaps

  section.course-learn
    .container
      .course-learn__wrap
        .course-learn__content
          h4.title-h6.course-learn__subtitle Course program
          h2.title-h2.course-learn__title What will you learn

          each item in [1, 2, 3, 4, 5, 6, 7, 8, 9]
            .accordion
              span.icon-minus.accordion__minus
              span.icon-plus.accordion__plus
              h5.accordion__subtitle=`Lesson ${item}.`
              h4.title-h4.accordion__title Aliquet lectus urna viverra in odio.
              p.text-main.gray-800.accordion__text Nulla amet, sagittis potenti rhoncus sit. Elit lectus nec pulvinar aliquet donec enim, ornare. Lacus facilisi curabitur turpis varius mauris. Nisi, tempus risus, odio mi suscipit sed. Curabitur faucibus porttitor quis sem lacus, arcu feugiat facilisis. Commodo nunc orci vitae accumsan id.
        .course-learn__image
          img(src="/img/course-learn-img.svg", alt="")

  include ../section/testimonials

  section.course-register
    .container
      .course-register__wrap
        .course-register__image
          img(src="/img/course-register-img.svg", alt="").course-register__image
        .course-register__content
          h4.title-h6.course-register__subtitle Leave a request now and get 20% off!
          h2.title-h2.course-register__title Register for the course

          form
            label.label-input
              h5.label-input__title Full Name
              input(type="text", placeholder="Your full name", name="name")
            label.label-input
              h5.label-input__title Email
              input(type="email", placeholder="Your working email", name="email")
            label.label-input
              h5.label-input__title Phone
              input(type="text", placeholder="Your phone number", name="phone")
            button(type="submit").btn-main Join the course