extends ../layout/main

block content
  .section-head
    .container
      h3.title-h6.section-head__subtitle Online lecture
      h1.title-h2.section-head__title Formation of the organizational structure of the company in the face of uncertainty
  
  .as
    .container
      .__wrap
        .__content
          h2.title-h2 About the course
          p.text-main Bibendum vulputate adipiscing venenatis at est, a eu tincidunt. Leo aenean congue in sagittis, felis maecenas amet varius at. Pellentesque euismod in faucibus at elementum. Tellus maecenas libero est tempus sit cras at malesuada diam. Consequat senectus dictumst non hac dignissim montes, pretium, egestas molestie. Sed magna aliquet ornare nibh vel lectus diam eget pretium. Lorem risus nunc tincidunt tortor, mi nulla pellentesque
          h3.title-h3 You will learn:
          ul.list-main
            li A fermentum in morbi pretium aliquam adipiscing donec tempus.
            li Vulputate placerat amet pulvinar lorem nisl.
            li Consequat feugiat habitant gravida quisque elit bibendum id adipiscing sed.
            li Etiam duis lobortis in fames ultrices commodo nibh.
            li Fringilla in nec risus congue venenatis pretium posuere nec.
            li Cursus eu pretium, vulputate tempus quam massa sed at.
  
  .event-join
    .container
      .event-join__wrap
        h3.title-h3.event-join__title 20% discount for early birds!