extends ../layout/empty

block content
  section.section-test
    .container
      h4.title-h6 Our events
      h1.title-h2 Lectures, workshops & master-classes

      .section-test__filters
        select
          option all themes
          option Marketing
          option Management
          option HR & Recruting
          option Design
          option Development