.label-input {
  position: relative;
  display: block;

  &__title {
    margin-bottom: 8px;

    @media (max-width: 991px) {
      margin-bottom: 6px;
    }
  }

  &__show {
    position: absolute;
    bottom: 10px;
    right: 10px;
    cursor: pointer;
  }
}

.label-checkbox {
  display: flex;
  align-items: flex-start;
  gap: 12px;

  @media (max-width: 991px) {
    gap: 9px;
  }

  & input {
    margin-top: 4px;
  }
}