.list-main {
  & li {
    position: relative;
    padding-left: 30px;

    &::after {
      position: absolute;
      left: 0;
      top: 3px;
      display: block;
      width: 16px;
      height: 16px;
      background-image: url('/img/icons/check.svg');
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      content: '';
    }
  }

  & li~li {
    margin-top: 12px;
  }
}