html {
  scrollbar-color: $primary $white;
  scrollbar-width: thin;
  scrollbar-gutter: stable;
}

body {
  font-family: 'Lato';
  background-color: $white;
  color: $black;
}

body.menu {
  @media (max-width: $hamb) {
    overflow: hidden;
  }
}

a {
  color: #424551;

  &:hover {
    transition: 0.3s color ease;
    color: $primary;
  }
}

:focus-visible {
  outline: 2px solid $black;
}

::selection {
  background-color: $black;
  color: $white;
}

img::selection {
  background-color: rgba($secondary, 0.3);
}

::-webkit-scrollbar-track {
  width: 8px;
}