section.section-certificate
  .container
    .section-certificate__wrap
      .section-certificate__content
        h5.title-h6.section-certificate__subtitle Createx Certificate
        h3.title-h2.section-certificate__title Your expertise will be confirmed
        p.section-certificate__text We are accredited by international professional organizations and institutes:
        ul.section-certificate__list
          li
            img(src="/img/certificate/item-1.png", alt="")
          li
            img(src="/img/certificate/item-2.png", alt="")
          li
            img(src="/img/certificate/item-3.png", alt="")
      .section-certificate__image
        img(src="/img/certificate.jpg", alt="").section-certificate__img