section.section-posts
  .container

    .section-posts__header
      h5.title-h6.section-posts__subtitle Our blog
      h2.title-h2.section-posts__title Latest posts
      a(href="#").btn-main.section-posts__more Go to blog

    .section-posts__posts
      each item in [1, 3, 5]
        +card-post(item)