section.section-posts
  .container

    .section__header
      h5.title-h6.section__subtitle Our blog
      h2.title-h2.section__title Latest posts
      a(href="/blog.html").btn-main.section__right Go to blog

    .section-posts__posts
      each item in [1, 3, 5]
        +card-post(item)