section.section-process
  .container
    .section-process__wrap
      .section-process__content
        h5.title-h6.section-process__subtitle Main steps
        h3.title-h2.section-process__title Online learning process 

        ul.process.section-process__list
          li.process__item
            span.process__number 01
            h5.title-h4.process__title Watching online video lectures
            p.text-main.process__text Culpa nostrud commodo ea consequat aliquip reprehenderit. Veniam velit nostrud aliquip sunt.
          li.process__item
            span.process__number 02
            h5.title-h4.process__title Passing test
            p.text-main.process__text Anim reprehenderit sint voluptate exercitation adipisicing laborum adipisicing. Minim ad tempor est ea.
          li.process__item
            span.process__number 03
            h5.title-h4.process__title Curator’s feedback
            p.text-main.process__text Adipisicing esse aliqua aliquip qui amet. Aute eiusmod dolore dolore et ad et veniam ad deserunt.
          li.process__item
            span.process__number 04
            h5.title-h4.process__title Corrections if needed
            p.text-main.process__text Sit veniam aute dolore adipisicing nulla sit culpa. Minim mollit voluptate ullamco proident ea ad.