section.section-subscribe
  .container
    .section-subscribe__wrap
      h4.title-h6.section__subtitle Don’t miss anything
      h2.title-h2.section__title Subscribe to the Createx School announcements

      form(novalidate).form-subscribe
        input(type="email", placeholder="Your working email")
        button.btn-main Subscribe