section.section-testimonials
  .container
    .section-testimonials__wrap
      h5.title-h6.section-testimonials__subtitle TESTIMONIALS
      h2.title-h2.section-testimonials__title What our students say

      .section-testimonials__slider

        each slide in [1, 2, 3, 4]
          .testimonial
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Justo, amet lectus quam viverra mus lobortis fermentum amet, eu. Pulvinar eu sed purus facilisi. Vitae id turpis tempus ornare turpis quis non. Congue tortor in euismod vulputate etiam eros. Pulvinar neque pharetra arcu diam maecenas diam integer in.
            .testimonial__author
              img(src="/img/testimonail-author.png", alt="")
              h4 Eleanor Pena
              h5 Position, Course