.about-first {
  padding: 152px 0 80px;

  @media (max-width: 1399px) {
    padding: 150px 0 50px;
  }

  @media (max-width: 991px) {
    padding: 120px 0 40px;
  }

  &__wrap {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: flex-end;
    gap: 165px;

    @media (max-width: 1399px) {
      gap: 40px 60px;
    }

    @media (max-width: 991px) {
      grid-template-columns: 1fr;
    }
  }

  &__title {
    margin-bottom: 48px;

    @media (max-width: 991px) {
      margin-bottom: 32px;
    }
  }

  &__heading {
    margin-bottom: 24px;

    @media (max-width: 991px) {
      margin-bottom: 16px;
    }
  }

  &__img {
    display: block;
    
    @media (max-width: 991px) {
      // max-width: 400px;
      margin: 0 auto;
    }
  }

  &__btns {
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
    margin-top: 60px;

    @media (max-width: 1199px) {
      margin-top: 45px;
    }

    @media (max-width: 991px) {
      gap: 15px;
      margin-top: 30px;
    }
  }
}

.about-video {
  padding: 100px 0 90px;

  @media (max-width: 991px) {
    padding: 50px 0;
  }

  &__wrap {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    gap: 32px 135px;
    // ! Figma bag container
    gap: 32px 125px;

    @media (max-width: 1199px) {
      grid-template-columns: repeat(2, 1fr);
      gap: 32px 80px;
    }

    @media (max-width: 991px) {
      grid-template-columns: 1fr;
    }
  }

  &__watch {
    grid-column: 1 / -1;
  }

  &__img {
    display: block;
  }

  &__item {
    display: flex;
    align-items: center;
    gap: 16px;

    @media (max-width: 991px) {
      gap: 12px;
    }
  }

  &__item ~ &__item {
    margin-top: 20px;

    @media (max-width: 991px) {
      margin-top: 12px;
    }
  }
}

.section-values {
  padding: 90px 0;
  text-align: center;

  @media (max-width: 991px) {
    padding-block-end: 50px 0;
  }
}

.watch-video {
  display: flex;
  align-items: center;
  gap: 15px;
  font-size: 14px;
  line-height: 1.5;
  font-weight: 700;

  @media (max-width: 991px) {
    gap: 12px;
  }

  &__play {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 52px;
    height: 52px;
    border-radius: 50%;
    color: $white;
    background-color: $primary;

    @media (max-width: 991px) {
      width: 40px;
      height: 40px;
    }
  }
}

.student-work {
  padding: 90px 0;
  background-color: #F4F5F7;

  @media (max-width: 991px) {
    padding: 50px 0;
  }

  & .section__subtitle,
  & .section__title {
    text-align: center;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    justify-content: space-between;
    align-items: center;
    gap: 20px 40px;

    @media (max-width: 991px) {
      grid-template-columns: repeat(4, 1fr);
    }

    @media (max-width: 575px) {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

.values-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px 90px;

  @media (max-width: 991px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (max-width: 575px) {
    grid-template-columns: 1fr;
  }

  &__item {
    &:not(:first-child) {
      position: relative;
      
      &::after {
        position: absolute;
        top: 0;
        left: -45px;
        display: block;
        width: 1px;
        height: 100%;
        background-image: linear-gradient(transparent, #DADBDD, transparent);
        content: '';
      }
    }

    @media (max-width: 991px) {
      &:nth-child(odd)::after {
        display: none;
      }
    }

    @media (max-width: 991px) {
      &:nth-child(even)::after {
        display: none;
      }
    }
  }

  &__img {
    margin-bottom: 17px;

    @media (max-width: 991px) {
      margin-bottom: 12px;
    }
  }

  &__title {
    margin-bottom: 8px;

    @media (max-width: 991px) {
      margin-bottom: 6px;
    }
  }
}

.about-teach {
  padding: 90px 0;

  @media (max-width: 991px) {
    padding: 50px 0;
  }

  & .section__subtitle,
  & .section__title {
    text-align: center;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;

    @media (max-width: 991px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: 575px) {
      grid-template-columns: 1fr;
    }
  }
}