.section-first {
  padding: 200px 0 80px;

  background-image: url('/img/bg/white-dots.svg'), url('/img/bg/white-circles.svg'), url('/img/bg/white-triangles-top-right.svg'), url('/img/bg/white-triangles-bottom.svg'), url('/img/bg/white-shapes-right.svg'), url('/img/bg/white-shape.svg'), linear-gradient(55.95deg, rgba(#FF3F3A, 0.2) 0%, rgba(#F75E05, 0.2) 100%);
  background-position: top 82% right -20px, left -120px bottom -120px, 81px 133px, 94.5% -45px, 43% 47%, 39% 74%, center;
  background-repeat: no-repeat;
  background-size: auto;

  @media (max-width: 1399px) {
    padding: 150px 0 50px;
  }

  @media (max-width: 991px) {
    padding: 120px 0 40px;
    background-size: 80px auto, 142px 142px, center;
  }

  &__wrap {
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 180px;
    margin-right: -47px;

    @media (max-width: 1399px) {
      grid-template-columns: repeat(2, 1fr);
      gap: 40px 60px;
      margin-right: 0;
    }

    @media (max-width: 991px) {
      grid-template-columns: 1fr;
    }
  }

  &__play {
    margin-top: 28px;
    margin-bottom: 40px;

    @media (max-width: 991px) {
      margin-bottom: 24px;
    }
  }

  &__img {
    display: block;

    @media (max-width: 991px) {
      width: Min(400px, 100%);
      margin: 0 auto;
    }
  }

  &__btns {
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
    margin-top: 60px;

    @media (max-width: 1199px) {
      margin-top: 45px;
    }

    @media (max-width: 991px) {
      gap: 15px;
      margin-top: 30px;
    }
  }
}

.first-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  margin-top: 189px;

  @media (max-width: 1599px) {
    margin-top: 150px;
  }

  @media (max-width: 991px) {
    margin-top: 100px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  @media (max-width: 450px) {
    grid-template-columns: 1fr;
    align-items: flex-end;
  }

  &__item {
    display: flex;
    align-items: center;
    gap: 12px;
    padding-left: 0;

    @media (max-width: 450px) {
      // justify-content: center;
    }
  }

  &__value {
    font-size: 46px;
    line-height: 1.3;
    font-weight: 900;

    @media (max-width: 991px) {
      font-size: 32px;
    }
  }

  &__text {
    font-size: 16px;
    line-height: 1.6;

    @media (max-width: 991px) {
      font-size: 14px;
    }
  }

  &__dot {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: $primary;

    @media (max-width: 991px) {
      display: none;
    }
  }
}

.play-showreel {
  display: flex;
  align-items: center;
  gap: 16px;

  &__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 52px;
    height: 52px;
    color: $white;
    background: $primary;
    border-radius: 50%;
    box-shadow: 0 0 0 16px rgba($primary, 0.12);
    
    @media (max-width: 991px) {
      width: 42px;
      height: 42px;
      box-shadow: 0 0 0 8px rgba($primary, 0.12);
    }
  }

  &__text {
    font-size: 14px;
    line-height: 21px;
    font-weight: 700;
  }
}

.section-why {
  margin: 180px 0;
  background-image: url('/img/bg/yellow-circles.svg'), url('/img/bg/yellow-dots-top-right.svg');
  background-repeat: no-repeat;
  background-size: 278px;
  background-position: bottom 22px right -156px, -122px 66px;

  @media (max-width: 1199px) {
    margin: 120px 0;
  }

  @media (max-width: 991px) {
    margin: 90px 0;
    background-size: 158px;
  }

  &__wrap {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 40px 135px;

    @media (max-width: 1399px) {
      grid-template-columns: repeat(2, 1fr);
      align-items: center;
      gap: 40px 80px;
    }

    @media (max-width: 991px) {
      grid-template-columns: 1fr;
    }
  }

  &__img {
    display: block;
  }

  &__title {
    margin-bottom: 40px;

    @media (max-width: 991px) {
      margin-bottom: 25px;
    }
  }

  &__btn {
    margin-top: 48px;

    @media (max-width: 991px) {
      margin-top: 30px;
    }
  }
}

.section-feature {
  margin: 180px 0;

  @media (max-width: 991px) {
    margin: 90px 0;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;

    @media (max-width: 1199px) {
      grid-template-columns: 1fr;
    }
  }
}

.section-how {
  margin: 180px 0 120px;

  @media (max-width: 991px) {
    margin: 90px 0 60px;
  }

  & .section__title,
  & .section__subtitle {
    text-align: center;
  }

  &__tabs {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0px;

    @media (max-width: 991px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: 400px) {
      grid-template-columns: 1fr;
    }
  }

  &__content {
    margin-top: 60px;

    @media (max-width: 991px) {
      margin-top: 30px;
    }
  }
}

.tab-content {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  gap: 135px;

  @media (max-width: 1399px) {
    grid-template-columns: repeat(2, 1fr);
    gap: 30px 80px;
  }

  @media (max-width: 991px) {
    grid-template-columns: 1fr;
  }

  &__title {
    margin-bottom: 24px;

    @media (max-width: 991px) {
      margin-bottom: 16px;
    }
  }

  &__img {
    display: block;
  }
}

.section-event {
  padding: 80px 0;
  background-image: url('/img/bg/white-circles.svg'), url('/img/bg/white-dots.svg'),linear-gradient(55.95deg, rgba(#FF3F3A, 0.2) 0%, rgba(#F75E05, 0.2) 100%);
  background-repeat: no-repeat;
  background-position: top -135px right -60px, bottom -5px left -60px, center;
  background-size: auto;

  @media (max-width: 991px) {
    padding: 50px 0;
  }

  & .section__subtitle,
  & .section__title {
    text-align: center;
  }

  &__footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px 40px;
    margin-top: 60px;

    @media (max-width: 991px) {
      margin-top: 40px;
      gap: 10px 20px;
    }

    @media (max-width: 390px) {
      flex-direction: column;
    }
  }
}

.section-team {
  padding: 166px 0 100px;
  background: #F4F5F7;

  @media (max-width: 991px) {
    padding: 40px 0;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
  }

  & .slider-navigation__prev,
  & .slider-navigation__next {
    position: absolute;
    top: -72px;
    right: -12px;
  }

  & .slider-navigation__prev {
    left: auto;
    right: 35px;
  }
}