footer.footer
  .container
    .footer__wrap
      .footer-logo
        img(src="/img/footer-logo.svg", alt="")
      p Createx Online School is a leader in online studying. We have lots of courses and programs from the main market experts. We provide relevant approaches to online learning, internships and employment in the largest companies in the country.

      .footer__newsletter
        h5.title-h6.footer__title SIGN UP TO OUR NEWSLETTER
          form
            input(type="email", placelder="Email address")
            button Send
        p.text-extraexsmall *Subscribe to our newsletter to receive communications and early updates from Createx SEO Agency.

  .footer-bottom
    .container
      a(href="#") GO TO TOP 
