footer.footer
  .container
    .footer__wrap
      .footer__first
        .footer-logo.footer__logo
          img(src="/img/footer-logo.svg", alt="")
        p.footer__text Createx Online School is a leader in online studying. We have lots of courses and programs from the main market experts. We provide relevant approaches to online learning, internships and employment in the largest companies in the country.

      .footer-column
        h5.footer-column__title SITE MAP
        a(href="#").footer-column__link About Us 
        a(href="#").footer-column__link Courses 
        a(href="#").footer-column__link Events 
        a(href="#").footer-column__link Blog 
        a(href="#").footer-column__link Contacts

      .footer-column
        h5.footer-column__title COURSES
        a(href="#").footer-column__link Marketing
        a(href="#").footer-column__link Management
        a(href="#").footer-column__link HR & Recruting
        a(href="#").footer-column__link Design
        a(href="#").footer-column__link Development

      .footer-column
        h5.footer-column__title CONTACT US
        a(href="#").footer-column__link
          include ../../img/svg/phone.svg
          | (405) 555-0128
        a(href="#").footer-column__link
          include ../../img/svg/mail.svg
          | hello@createx.com

      .footer__newsletter
        h5.title-h6.footer__title SIGN UP TO OUR NEWSLETTER
        form(novalidate).form-newsletter
          input(type="email", placeholder="Email address").input-newsletter
          button.form-newsletter__btn
            include ../../img/svg/white-arrow-send.svg  
        p.text-extraexsmall.footer__textik *Subscribe to our newsletter to receive communications and early updates from Createx SEO Agency.

  .footer-bottom
    .container
      .footer-bottom__wrap
        p.footer-bottom__info
          | © All rights reserved. Made with
          include ../../img/svg/heart.svg
          | by Createx Studio 
        a(href="#").footer-bottom__top GO TO TOP