- const headerLinks = [{name: 'About Us', path: '/about.html'}, {name: 'Courses', path: '/courses.html'}, {name: 'Events', path: '/events.html '}, {name: 'Blog', path: '/blog.html'}, {name: 'Contacts', path: '/contacts.html'}]

header.header
  .container
    .header__wrap
      a(href="/").header-logo
        img(src="/img/logo.svg", alt="").header-logo__img
      
      nav.header-nav.header__nav
        each link in headerLinks
          a(href=link.path).header-nav__link= link.name

      button.btn-main.header__consultation Get consultation

      .header-auth.header__auth
        span.icon-profile.header-auth__icon
        a(href="#", data-popup="sing-in").header-auth__login Log in
        span.header-auth__separator /
        a(href="#", data-popup="sing-up").header-auth__register Register

      .header-mobile
      
      button.header-hamb
        span
        span
        span