mixin pagination()
  .pagination.section-blog__pagination
    //- a(href="#").pagination__prev
    //-   span.icon-arrow-left
    a(href="#").pagination__item.current 1
    a(href="#").pagination__item 2
    a(href="#").pagination__item 3
    a(href="#").pagination__item 4
    a(href="#").pagination__next
      span.icon-arrow-right