mixin single-share
  .single-share.single-info__share
    p.single-share__text Share:
    a(href="#").single-share__link
      span.icon-facebook 
    a(href="#").single-share__link
      span.icon-twitter 
    a(href="#").single-share__link
      span.icon-linkedin