mixin event-list(index)
  .event-list
    - let randomDate = Math.ceil(Math.random()*30)
      if(randomDate > 9)
        .event-list__day= randomDate
      else
        .event-list__day= `0${randomDate}`
    .event-list__month August
    .event-list__time 11:00 – 14:00
    .event-list__title Building a customer service department.
    .event-list__text Onine lecture
    a(href="/single-event.html").btn-secondary.btn-small.event-list__more View more 

mixin event-grid(index)
  .event-grid
    - let randomDate = Math.ceil(Math.random()*30)
      if(randomDate > 9)
        .event-grid__date= `${randomDate} Aug`
      else
        .event-grid__date= `0${randomDate} Aug`
    .event-grid__time 11:00 – 14:00
    .event-grid__title Building a customer service department.
    .event-grid__text Onine master-class
    a(href="/single-event.html").btn-secondary.event-grid__more View more 