mixin card-event(index)
  .card-event
    .card-event__day= Math.ceil(Math.random()*30)
    .card-event__month August
    .card-event__title Building a customer service department.
    a(href="#").btn-secondary.card-event__more View more 
    .card-event__time 11:00 – 14:00
    .card-event__text Onine lecture