mixin person(index)
  .person
    .person__image
      img(src=`/img/team/person-${index}.png`, alt="").person__img
      .person__socials
        a(href="#", target="_blank").person__social
          span.icon-facebook
        a(href="#", target="_blank").person__social
          span.icon-instagram
        a(href="#", target="_blank").person__social
          span.icon-linkedin
    h4.person__name Dianne Russell
    p.person__prof Founder and CEO