mixin person(person)
  .person
    .person__image
      img(src=`/img/team/${person.img}.png`, alt="").person__img
      .person__socials
        a(href="#", target="_blank").person__social
          span.icon-facebook
        a(href="#", target="_blank").person__social
          span.icon-instagram
        a(href="#", target="_blank").person__social
          span.icon-linkedin
    h4.title-bold.person__name= person.name
    p.text-main.person__prof= person.position